@model Trama

@{
    ViewData["Title"] = "Editar Trama";
}

<h2>@ViewData["Title"]: <b>@Model.Nombre</b></h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TramaId" />
        <div class="form-group">
            <label asp-for="Plantilla" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlantillaId" asp-items="ViewBag.Plantillas" onchange="CargarPlantilla()" class="form-control"></select>
            </div>
        </div>
        <hr />
        <p></p>
        <span id="DetallePlantillaTrama">
        </span>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-warning" asp-action="Index"> Volver a Tramas</a>
                <input type="submit" value="Guardar" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            CargarPlantilla();            
        });
    </script>
    <script>
        function CargarPlantilla() {
            var id = $('#PlantillaId').val();
            $.get("/Tramas/DetalleTrama", { plantillaTramaId: id }, function (data) {
                $('#DetallePlantillaTrama').html(data);
                CambiarParticipantesTrama();
            });
        }
    </script>
    <script>
        function CambiarParticipantesTrama() {
            var tramaId = $('#TramaId').val();
            var tipoTramaId = $('#TipoTrama').val();
            $.get("/Tramas/ParticipantesTrama", { tramaId: tramaId, tipoTrama: tipoTramaId }, function (data) {
                $('#ParticipantesTrama').html(data);
            });
        }
    </script>
}
