@model Trama

@{
    ViewData["Title"] = "Edit";
}

<h2>@Model.Nombre</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="TramaId" />
        <input type="hidden" asp-for="PersonajeId" />
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#Trama">Trama</a></li>
            <li><a data-toggle="tab" href="#Atributos">Atributos</a></li>
        </ul>
        <hr />
        <div class="tab-content clearfix">
            <div id="Trama" class="tab-pane active">
                <div class="form-group">
                    <label asp-for="Plantilla" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="PlantillaId" asp-items="ViewBag.Plantillas" class="form-control"></select>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="Personaje" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input readonly class="form-control" asp-for="Personaje" value="@ViewBag.Personaje.Nombre" />
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="Cerrada" />
                            <label asp-for="Cerrada"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PuntosActuales" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PuntosActuales" class="form-control" />
                        <span asp-validation-for="PuntosActuales" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PuntosDePresionPorTiemppo" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PuntosDePresionPorTiemppo" class="form-control" />
                        <span asp-validation-for="PuntosDePresionPorTiemppo" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PuntosNecesarios" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PuntosNecesarios" class="form-control" />
                        <span asp-validation-for="PuntosNecesarios" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TextoResolucion" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="TextoResolucion" class="form-control" />
                        <span asp-validation-for="TextoResolucion" class="text-danger" />
                    </div>
                </div>
            </div>
            <div id="Atributos" class="tab-pane">
                @for (int i = 0; i < Model.Atributos.Count(); i++)
                {
                    <div class="form-group">
                        <input type="hidden" asp-for="Atributos[i].AtributoId" />
                        <input type="hidden" asp-for="Atributos[i].TramaId" />
                        <label asp-for="Atributos[i].TramaId" class="col-md-2 control-label">@Model.Atributos[i].Atributo.Nombre</label>
                        <div class="col-md-10">
                            <input asp-for="Atributos[i].Multiplicador" class="form-control" />
                            <span asp-validation-for="Atributos[i].Multiplicador" class="text-danger" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-warning" asp-route="AbrirPersonaje" asp-route-id="@Model.PersonajeId">Volver al Personaje</a>
                <input type="submit" value="Guardar" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
