@model PasaTrama

@{
    ViewData["Title"] = "Details";
}

<h2>Resolver Pasa Trama</h2>

<form asp-action="ResolverPasaTrama">
    <div class="form-horizontal">
        <h4>PasaTrama</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PasaTramaId" />
        <div class="form-group">
            <label asp-for="FechaPrevista" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="FechaPrevista" class="form-control" />
                <span asp-validation-for="FechaPrevista" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FechaResolucion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="FechaResolucion" class="form-control" />
                <span asp-validation-for="FechaResolucion" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostPartidaId" class="control-label col-md-2">PostPartidaId</label>
            <div class="col-md-10">
                <input readonly asp-for="PostPartidaId" class="form-control" />
                <span asp-validation-for="PostPartidaId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input readonly asp-for="Resuelto" />
                    <label asp-for="Resuelto"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-warning" asp-route="AbrirPostPartida" asp-route-id="@Model.PostPartidaId">Volver al PostPartida</a>
                <input type="submit" value="Resolver" class="btn btn-default btn-danger" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}