@model IndexViewModel
@{
    ViewData["Title"] = "No encontramos tu personaje";
}

<h1>@ViewData["Title"].</h1>
<div>
    <h3 class="text-danger">Upps, parece que tenemos un problemilla encontrando tu personaje.</h3>        
    <h4 class="text-danger">
        Pero tranquilo, estamos trabajando en ello.<br />
        Lo más probable es que el becario de turno haya decidido ir a comer o a dormir antes de dar de alta tu personaje. <br />
        Nada que no podamos solucionar con un buen par de latigazos.
    </h4>
    <div class="clearfix">
        <br />
    </div>
    <h4 class="text-danger">
        De todas formas, si crees que no es el caso o pasa mucho tiempo sin que tu personaje aparezca, mándanos un mail a <a href="mailto:VerumInSanguine@gmail.com">VerumInSanguine@gmail.com</a>
    </h4>
</div>
