@model VistaMensaje
@{
    ViewData["Title"] = "Ver Mensaje";
}

<h2>@ViewData["Title"]</h2>

@{
        ApplicationUser usuario = ViewBag.Usuario;

    <div class="form-horizontal">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MensajeId" />
            @if (usuario.Cuenta == TipoCuenta.Administrador || usuario.Cuenta == TipoCuenta.Narrador)
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input disabled asp-for="EsAnonimo" />
                            <label asp-for="EsAnonimo">Enviado como anónimo</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Enviado como... </label>
                    <div class="col-md-10">
                        <input readonly asp-for="RemitenteReal" class="form-control " />
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="col-md-2 control-label">Fecha Envio</label>
                <div class="col-md-10">
                    <input readonly asp-for="FechaEnvio" class="form-control" />
                </div>
            </div>         
            <div class="form-group">
                <label class="col-md-2 control-label">Remitente </label>
                <div class="col-md-10">
                    <input readonly asp-for="Remitente" class="form-control " />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Destinatarios</label>
                <div class="col-md-10">
                    <input readonly asp-for="Destinatarios" class="form-control " />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Asunto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input readonly asp-for="Asunto" class="form-control " />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Cuerpo" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea readonly asp-for="Cuerpo" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
}


