@model PostPartida

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Nuevo Post Partida</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Cerrada" />
                    <label asp-for="Cerrada"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FechaInicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FechaFin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger" />
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-warning" asp-route="PostPartidas">Volver</a>
                <input type="submit" value="Crear" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
