@using Microsoft.AspNetCore.Mvc.Routing;
@using Cronica.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Verum Est Sanguis</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootswatch/cyborg/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/ssdrw/ssdot.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />        
        <link rel="stylesheet" href="~/lib/bootswatch/cyborg/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/ssdrw/ssdot.css" />
    </environment>
</head>
<body>
    <div id="sidebar" class="nav navbar-inverse">
        @await Html.PartialAsync("_LoginPartial")
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Verum Est Sanguis</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">La Partida</a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Madrid" asp-action="Historia">Historia de Madrid</a></li>
                                <li><a asp-controller="Madrid" asp-action="CarasConocidas">Caras Conocidas</a></li>
                                <li><a asp-controller="Sistema" asp-action="Sistema">Sistema</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">Sobre Nosotros</a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Home" asp-action="QuienesSomos">Quienes Somos</a></li>
                                <li><a asp-controller="Home" asp-action="Escribenos">Escribenos</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content anchoTotal">
            <alert message="@ViewBag.MensajeExito" icon="success" dismissible="true">
            </alert>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - Verum Est Sanguis</p>
            </footer>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/datatables/media/js/jquery.datatables.js"></script>
        <script src="~/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
        <script src="~/lib/ssdrw/ssdot.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/datatables/media/js/jquery.datatables.min.js"></script>
        <script src="~/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
        <script src="~/lib/ssdrw/ssdot.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                clearBtn: true,
                format: 'dd/mm/yyyy',
                orientation: 'top',
                language: 'es-ES'
            });
            $('.table').DataTable();
        });
    </script>
</body>
</html>
