@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@if (_signInManager.IsSignedIn(User))
{
    var _user = await _userManager.GetUserAsync(User);
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="">
        @await Component.InvokeAsync(nameof(MenuUsuario), new { userId = _user.Id })

        <a class="list-group-item" asp-controller="Manage" asp-action="Administrar">Administrar Cuenta</a>
        <div class="list-group panel">
            <button type="submit" class="list-group-item">Cerrar Sesión</button>
        </div>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li><a asp-controller="Account" asp-action="Login">Iniciar Sesión</a></li>
        <li><a asp-controller="Account" asp-action="ForgotPassword">Olvidé mi Contraseña</a></li>
    </ul>
}
