@{
    ViewData["Title"] = "Escríbenos";
}
<h2>@ViewData["Title"].</h2>

<address>
    Para cualquier cosa que necesites, no dudes en ponerte en contacto con nosotros.
    <p>Escribenos a <a href="mailto:VerumInSanguine@gmail.com">VerumInSanguine@gmail.com</a></p>
    
</address>

