@{
    ViewData["Title"] = "Notas Importantes Sobre el Sistema de Mensajeria";
}
<h2>@ViewData["Title"].</h2>

<p>Es importante que leas con atención las siguientes lineas sobre el sistema de mensajería (SM) que usamos en <strong>Verum In Sanguine</strong></p>

<p>
    <ul>
        <li>SM no es un servicio de correo electrónico.</li>
        <li>SM no es privado; todos los mensajes del sistema pueden ser leidos por cualquier narrador o administrador. No lo uses para comunicar información personal.</li>
        <li>Úsalo con sensatez: SM es una ayuda de juego, no una vía para que molestes o hagas SPAM a los jugadores y/o narradores.</li>
        <li>Si crees que alguién está usando el SM de forma abusiva, no dudes en avisarnos.</li>
        <li>Aunque SM representa un sistema de comunicación <i>dentro</i> de la partida, ten presente que hay una <b>persona real</b> al otro lado del monitor recibiendo el mensaje. 
        Que tu personaje no se lleve bien u odie al otro personaje, no te da derecho a insultar alegremente a nadie.</li>
        <li>Aunque SM usa una base informática no significa que <i>dentro</i> de la partida todas estas comunicaciones se produzcan en forma de emails; 
        según el personaje y la situación el mensaje puede haber llegado en carta a traves de un criado, en un rollo de papel atado a la pata de una paloma, como un whats upp o por cualquier otro medio.</li>
    </ul>
</p>