@{
    ViewData["Title"] = "Quienes Somos";
}
<h2>@ViewData["Title"].</h2>

<p><strong>Verum In Sanguine</strong> está formado por:</p>

<p><a href="https://www.facebook.com/alfonso.s.arroyohernandez" target="_blank">Alfonso Arroyo Hernández</a></p>
<p><a href="https://www.facebook.com/antonio.guardiolajimenez" target="_blank">Antonio Guardiola Jiménez</a></p>
<p><a href="https://www.facebook.com/carlos.dlc.9" target="_blank">Carlos D LC</a></p>
<p><a href="https://www.facebook.com/jesusito.delospalotes" target="_blank">Jesús Herruzo</a></p>
<p><a href="https://www.facebook.com/salamandra.scarlet" target="_blank">Salamandra Scarlet</a></p>
<p><a href="https://www.facebook.com/eldarielz" target="_blank">Sophie McMillan</a></p>
<p><a href="https://www.facebook.com/patxi.tebarrodriguez" target="_blank">Patxi Tebar Rodriguez</a></p>

